* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

#navegacao {
    background-color: #3b4f66;
    height: 7vh;
    text-align: left;
    padding: 20px 0 0 20px;
}

#navegacao a {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    color: #3b4f66;
    font-size: 18px;
    margin: 4vh;
}

p {
    text-align: justify;
    margin: 5vh 20vh;
}

.time {
    height: 50vh;
    margin-left: 9vw;
}

#main {
    background-color: #ffffff;
}

input {
    display: block;
    margin: 2vh 9vw 2vh;
    height: 4vh;
}

.texto-anexe-seu-curriculo {
    font-size: 14px;
    margin: 2vh 9vw 2vh;
}

#botao-enviar-arquivo, #botao-enviar-curriculo {
    margin: 0 9vw 2vh;
    height: 4vh;
    width: 10vw;
}

button#botao-enviar-arquivo:hover, button#botao-enviar-curriculo:hover {
    color: #3b4f66;
    background-color: #94cc6c;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
}

#mensagem {
    margin: 2vh 9vw 2vh;;
}

#secao-perguntas {
    bottom: 0;
    position: relative;
    text-align: center;
    background-color: #3b4f66;
}

.texto-perguntas {
    color: #ffffff;
    font-size: 16px;
    padding: 2vh;
}

button.accordion {
    background-color: #94cc6c;
    color: #444444;
    font-size: 15px;
    text-align: left;
    border: none;
    cursor: pointer;
    padding: 18px 18px 18px 40px;
    width: 100%;
    outline: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    color: #444444;
    background-color: #dddddd;
}

.show {
    display: block;
}

.show {
    opacity: 1;
    max-height: 500px;
}

button.accordion:after {
    content: '\02795'; 
    font-size: 10px;
    color: #777777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

.botao-saiba-mais {
    color: #3b4f66;
    background-color: #94cc6c;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #dddddd;
    border-radius: 20px;
    height: 5vh;
    width: 10vw;
    margin: 3vh;
    cursor: pointer;
}

button.botao-saiba-mais:hover {
    color: #dddddd;
    background-color: #3b4f66;
    transition: 0.4s;
}